* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #fff;
}

.car {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 50px;
	height: 50px;
	background-color: blue;
}

.obstacle {
	position: absolute;
	z-index: -1;
	background-color: green;
}
